<div class='container-data-user'>
  <h1>
    {{user.name}}
  </h1>
  <p>
    Tu email: {{user.email}}
  </p>
  <p>
    Tu edad: {{user.age}}
  </p>
</div>

<div
  class='d-flex justify-content-between align-items-center border-bottom py-4 mb-3'
>
  <span class='h3'>
    Lista de productos
  </span>
  <a class='btn btn-primary btn-lg' href='/api/users/logout'>
    Cerrar sesión
  </a>
</div>
<div class='row mt-5 px-3 justify-content-around' id='container-products'>
  {{#each products}}
    <div class='card col-12 col-md-5 p-4 mb-5 rounded'>
      <div class='d-flex justify-content-between align-items-center mb-4'>
        <div class='col-6 d-flex p-0'>
          <span class='h3'>
            {{this.title}}
          </span>
        </div>
        <div class='col-6 d-flex justify-content-end p-0'>
          <div class='mr-3'>
            <a
              href='/edit-product/{{this._id}}'
              class='btn btn-outline-primary'
            >
              <i class='bi bi-pencil-fill'></i>
            </a>
          </div>
          <form
            action='/api/products/{{this._id}}?_method=DELETE'
            method='POST'
          >
            <input type='hidden' name='_method' value='DELETE' />
            <button class='btn btn-outline-primary'>
              <i class='bi bi-trash-fill pe-2'></i>
            </button>
          </form>
        </div>
      </div>
      <div class='d-flex justify-content-between'>
        <span class='h6'>
          Precio: {{this.price}}
        </span>
        <span class='h6'>
          Stock: {{this.stock}}
        </span>
      </div>
    </div>
  {{/each}}
</div>