<div class='container-data-user'>
  <h1>
    {{user.name}}
  </h1>
  <p>
    Tu email: {{user.email}}
  </p>
  <p>
    Tu edad: {{user.age}}
  </p>
</div>

<div
  class='d-flex justify-content-between align-items-center border-bottom py-4 mb-3'
>
  <span class='h3'>
    Lista de productos
  </span>
  <a class='btn btn-primary btn-lg' href='/api/sessions/logout'>
    Cerrar sesión
  </a>
</div>
<div class='row mt-5 px-3 justify-content-around' id='container-products'>
  {{#each products}}
    <div class='card col-12 col-md-5 p-4 mb-5 rounded'>
      <span class='h3'>
        {{this.title}}
      </span>
      <hr />
      <div class='d-flex justify-content-between'>
        <span class='h6'>
          Precio: {{this.price}}
        </span>
        <span class='h6'>
          Stock: {{this.stock}}
        </span>
      </div>
    </div>
  {{/each}}
</div>