<div class='container-data-user'>
  <h1>
    {{user.name}}
  </h1>
  <p>
    Tu email: {{user.email}}
  </p>
  <p>
    Tu edad: {{user.age}}
  </p>
</div>

<div class='container-headers'>
  <span>
    Lista de productos
  </span>
  <a href='/api/sessions/logout'>
    Cerrar sesión
  </a>
</div>
<div id='container-products'>
  {{#each products}}
    <div>
      <h2>
        {{this.title}}
      </h2>
      <span>
        Precio: {{this.price}}
      </span>
      <span>
        Stock: {{this.stock}}
      </span>
    </div>
  {{/each}}
</div>

<style>
  .container-data-user{ border:solid 1px white; border-radius: 30px; padding: 0
  20px; } .container-headers{ height: 5rem;display: flex; justify-content:
  space-between; align-items: center; } .container-headers > span { font-size:
  2rem; } .container-headers > a{ text-decoration: none; padding: 10px 30px;
  border: 1px solid cadetblue; border-radius: 5px; color: black;
  background-color:cadetblue;}
</style>